@{
    ViewBag.Title = "Home Page";
}
<h5>@ViewBag.Msg</h5>
<div class="jumbotron">
    <h1>Ministerio de Educacion</h1>
    <p class="lead">La Aplicacion del Ministerio de Educación pone a disposición a través de la página web de la Institución, de manera gratuita y en formato descargable, 
    los certificados de bachiller de los diferentes institutos educactivos registrasdos.</p>
    <p><a href="http://www.minedu.gob.bo/index.php" class="btn btn-primary btn-lg">Ver Mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>
            El Ministerio de Educación garantiza una educación productiva comunitaria y de 
            calidad para todas y todos, con pertinencia sociocultural, contribuyendo a la construcción 
            de una sociedad justa, en equilibrio y relación armónica con la naturaleza que sustenta el desarrollo 
            plurinacional para vivir bien, a través del fortalecimiento de la gestión educativa” Ministerio de Educación.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mision</h2>
        <p>Diseñar, implementar y ejecutar políticas, estrategias educativas inclusivas, equitativas, intraculturales, interculturales, plurilingües, 
        científicas, técnica - tecnológica, de calidad, con participación social desde el ámbito territorial, comunitario productivo y descolonizador a través del Sistema Educativo Plurinacional.</p>
    </div>
    <div class="col-md-4">
        <h2>Ministros</h2>
        <ul>
            <li>
                <h4>Lic. Roberto Aguilar Gómez</h4>
                <p>Ministro de Educación</p>
            </li>
            <li>
                <h4>Valentin Roca Guarachi</h4>
                <p>Viceministro de Educación Regular</p>
            </li>
            <li>
                <h4>Noel Ricardo Aguirre Ledezma</h4>
                <p>Viceministro de Educación Alternativa y Especial</p>
            </li>
        </ul>
    </div>
</div>